version: 2
updates:
  - package-ecosystem: docker
    directory: "/java/base"
    schedule:
      interval: daily
    cooldown:
      default-days: 7
  - package-ecosystem: docker
    directory: "/java/25"
    schedule:
      interval: daily
    cooldown:
      default-days: 7
  - package-ecosystem: docker
    directory: "/java/21"
    schedule:
      interval: daily
    cooldown:
      default-days: 7
    ignore:
      - dependency-name: "eclipse-temurin"
        versions: [">=22"]
  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: daily
    cooldown:
      default-days: 7
    groups:
      github-actions:
        patterns:
          - "*"
