name: "Check for newer image versions"

on:
  workflow_dispatch:
  schedule:
    # At the end of every day
    - cron: "0 0 * * *"

jobs:
  digest-update:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      id-token: write
    steps:
      - uses: actions/checkout@v6
      - uses: navikt/digestabot@02239a769317fa91352c5715b851f2c41708f71e
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          team: k9saksbehandling
